/* UsageTable.css */
.usage-table-container {
    margin-top: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  th, td {
    border: 1px solid #020202;
    padding: 8px;
    text-align: center;
  }
  
  th {
    background-color: #444; /* Dark background for header */
    color: #000000; /* White text color for better visibility */
  }
  
  .error-message {
    color: red;
    margin-top: 10px;
  }
  